/* WorkoutHistory.css */

  
  .text-white {
    color: #f8f9fa !important;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
.btn-outline-info {
    color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
  }
  
  .btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
    border-color: #17a2b8;
  }
  
  .modal-dark .modal-content {
    background-color: #343a40 !important;
    color: white !important;
    border-radius: 10px;
  }

  
  .modal-header .close {
    color: #f8f9fa;
  }
  
  .min-vh-100 {
    min-height: 100vh;
  }
  
  .container {
    padding-bottom: 20px;
  }
  
  /* Estilo específico para el botón "Volver al Inicio" */
.custom-back-btn {
    color: #ffffff !important;  /* Texto blanco para mejor visibilidad */
    background-color: #007bff !important;  /* Fondo azul brillante */
    border-color: #007bff !important;  /* Frontera azul brillante */
  }
  
  .custom-back-btn:hover {
    background-color: #0056b3 !important;  /* Fondo azul más oscuro al pasar el mouse */
    border-color: #0056b3 !important;  /* Frontera azul más oscuro al pasar el mouse */
  }
  
  .custom-back-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);  /* Resalta el borde cuando el botón está en foco */
  }
  